[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
falcon = "*"
falcon-cors = "*"
pytube = "*"
gevent = "*"
cachetools = "*"

[dev-packages]

[requires]
python_version = "3.7"
